<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%messages.forEach(function(message){%>
        <h1><%=message.user%></h1>
        <h4><%=message.text%></h4>
        <P><%=message.added%></P>
        <%})%>
</body>
</html>